{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROOT</title>
    <link href="{% static 'assets/favicon.ico' %}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7CSource+Sans+Pro&display=swap"
        rel="stylesheet">
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Internal main stylesheet -->
    <link href="{% sass_src 'css/mystyle.scss' %}" rel="stylesheet" type="text/css" />
    <!-- Latest jQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Internal main JavaScript functions -->
    <script src="{% static 'js/main.js' %}"></script>
</head>

<body>
    <div class="navbar-fixed">
        <nav>

            <ul id="dropdown1" class="dropdown-content">
                <li><a href="{% url 'riders_index' %}">View routes</a></li>
                <li><a href="{% url 'route_create' %}">Add a new route</a></li>
                <li><a href="#">Update an existing route</a></li>
                <li><a href="{% url 'riders_index' %}">View past routes</a></li>
            </ul>
            </ul>
            <div class="nav-wrapper"> <a class="brand-logo center"> <img alt="ROOT"
                        src="{% static 'assets/logo.png' %}" width="100"></a> <a href="#" data-activates="mobile-demo"
                    class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                    <li class="active"><a href="/">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a a class="dropdown-button" data-beloworigin="true" data-hover="true"
                            data-constrainwidth="false" href="#!" data-activates="dropdown1">Your Commute</a></li>
                    <li><a href="{% url 'logout' %}">Sign Out</a></li>
                    {% else %}
                    <li><a href="#">About Us</a></li>
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <ul id="mobile-demo" class="side-nav">
                    
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <div class="user-view">
                                <li>
                                    <div class="background teal lighten-4">
                                        <img width="50px" alt="" class="circle responsive-img valign profile-image"
                                            src="https://bit.ly/fcc-running-cats">
                                        <span class="name teal-text">{{ user.username }}</span><br>
                                        <span class="email teal-text">sample-email@gmail.com</span>
                                    </div>
                            </div>
                    </li>
                    <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Your Commute
                            <i class="material-icons right" style="margin-right:0;">arrow_drop_down</i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="{% url 'riders_index' %}">View routes</a></li>
                                <li><a href="{% url 'route_create' %}">Add a new route</a></li>
                                <li><a href="">Update a route</a></li>
                                <li><a href="">View past routes</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="bold"><a href="" class="waves-effect waves-teal">About Us</a></li>
                    <li class="bold"><a href="{% url 'logout' %}" class="waves-effect waves-teal">Sign Out</a></li>
                </ul>
                </li>
                </ul>
            </div>
        </nav>
    </div>
    {% else %}
    <ul id="mobile-demo" class="side-nav">
        <li class="bold"><a href="{% url 'login' %}" class="waves-effect waves-teal">Log In</a></li>
        <li class="bold"><a href="{% url 'signup' %}" class="waves-effect waves-teal">Sign Up</a></li>
        <li class="bold"><a href="" class="waves-effect waves-teal">About Us</a></li>
    </ul>
    </li>
    </ul>
</div>
</nav>
</div>

    {% endif %}

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2019 ROOT &nbsp;</div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script>
        $(".button-collapse").sideNav();
    </script>
</body>

</html>