{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROOT</title>
    <link href="{% static 'assets/favicon.ico' %}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7CSource+Sans+Pro&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fascinate|Seymour+One|Titillium+Web&display=swap"
        rel="stylesheet">
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Internal main stylesheet -->
    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
    <link href="{% sass_src 'css/mystyle.scss' %}" rel="stylesheet" type="text/css" />
    <!-- Latest jQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Internal main JavaScript functions -->
    <script defer src="{% static 'js/main.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 4500);
        };
        // <!-- #tagline transition -->
        $(document).ready(function () {
            setTimeout(function () {
                $("#main").removeClass("is-loading");
            }, 100)
        });
        autoplay();
    </script>
</head>

<body>
    <main>
        <div id="main" class="is-loading">
            <section class="nav">
                <!-- <a class="brand-logo center"> <img alt="ROOT" src="{% static 'assets/logo.png' %}"
                    width="100"></a> -->
                <ul>
                    {% if user.is_authenticated %}
                    <li><a data-beloworigin="true" data-hover="true" data-constrainwidth="false"
                            class="btn waves-effect small" href="{% url 'riders_index' %}">View Your Commute</a></li>
                </ul>
                {% else %}
                <li><a class="btn-large waves-effect" href="{% url 'signup' %}">Join Now <i id="join-now"
                            class="material-icons right">near_me</i></a></li>
                <li><a class="white-text center-align." href="{% url 'login' %}"> Have an account?</a></li>
                </ul>
                {% endif %}
                <br>
            </section>
            <h1 class="white-text" id="tagline">
                Dramatically improve your commute
            </h1>
        </div>
      
        <section class="carousel carousel-slider center">
            <div class="carousel-fixed-item center">
                {% if user.is_authenticated %}
                <a href="{% url 'riders_index' %}" class="btn waves-effect">Access your account</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn waves-effect">Sign in</a>
                <a href="{% url 'signup' %}" class="btn waves-effect">Join now</a></li>
                {% endif %}
            </div>
            <div class="carousel-item #66bb6a green darken-1
            white-text">
                <h2>Click. Go. Together. </h2>
                <p class="white-text">Nearly one quarter of U.S. employees say they've left a job because of their lousy
                    commute.
                    <br>
                    ROOT is ride-sharing platform that connects riders and drivers so you can fall back in love with
                    your commute and your job.
                </p>
            </div>
            <div class="carousel-item #00695c teal darken-3

            white-text">
                <h2>Say hello to the express lane with ROOT.</h2>
                <p class="white-text">It's a fast, fun, affordable way to commute. While carpooling isn't new, ROOT
                    rideshare is a fresh way to share the road. Our algorithm identifies the most efficient trip based
                    on the fastest route, nearby carpoolers, carpool lanes, and more.
                    Separate AM and PM trips to fit your unpredictable work schedule and use Root when you're on the go.
                </p>
            </div>
            <div class="carousel-item  light-green darken-4 white-text">
                <h2>Take cars off the road by riding together through ROOT.</h2>
                <p class="white-text">
                    Coworkers connect through a private network to carpool to the same destination,
                    relieving parking and traffic congestion, reducing the carbon footprint, and improving
                    sustainability.
                    <br>
                    We believe in encouraging, rewarding, and verifying high-occupancy commuting.
                </p>
            </div>
        </section>
    </main>

</body>

</html>