{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROOT</title>
    <link href="{% static 'assets/favicon.ico' %}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7CSource+Sans+Pro&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fascinate|Seymour+One|Titillium+Web&display=swap"
        rel="stylesheet">
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Internal main stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Latest jQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Internal main JavaScript functions -->
    <script defer src="{% static 'js/main.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 4500);
        };
        // <!-- #tagline transition -->
        $(document).ready(function () {
            setTimeout(function () {
                $("#main").removeClass("is-loading");
            }, 100)
        });
        autoplay();
    </script>
</head>

<body>


    <main>
        <div id="main" class="is-loading">
            <section class="nav">
                <!-- <a class="brand-logo center"> <img alt="ROOT" src="{% static 'assets/logo.png' %}"
                    width="100"></a> -->
                <ul>
                    {% if user.is_authenticated %}
                    <li><a data-beloworigin="true" data-hover="true" data-constrainwidth="false"
                            class="btn waves-effect small" href="{% url 'riders_index' %}">View Your Commute</a></li>
                </ul>
                {% else %}
                <!-- <li><a class="btn waves-effect small" href="{% url 'signup' %}">Join Now</a></li> -->
                <li><a class="btn waves-effect" href="{% url 'signup' %}">Sign Up</a></li>
                </ul>
                {% endif %}
                <br>
            </section>
            <h1 class="white-text" id="tagline">
                Dramatically improve your commute
            </h1>
        </div>
        <section class="carousel carousel-slider center">
            <div class="carousel-fixed-item center">
                {% if user.is_authenticated %}
                <a href="{% url 'riders_index' %}" class="btn waves-effect">Access your account</a>
                {% else %}
                <a href="{% url 'login' %}" class="btn waves-effect">Sign in</a>
                <a href="{% url 'signup' %}" class="btn waves-effect">Join now</a></li>
                {% endif %}
            </div>
            <div class="carousel-item green white-text">
                <h2>Upgrade your commute.</h2>
                <p class="white-text">Nearly one quarter of U.S. employees say they've left a job because of their lousy
                    commute. We are a ride-sharing platform that connects riders and drivers
                </p>
            </div>
            <div class="carousel-item brown white-text">
                <h2>Say hello to the express lane</h2>
                <p class="white-text">It's a fast, fun, affordable way to commute. While carpooling isn't new, ROOT
                    rideshare is a fresh way to share the road. Our algorithm identifies the most efficient trip based
                    on the fastest route, nearby carpoolers, carpool lanes, and more.
                    Separate AM and PM trips to fit your unpredictable work schedule and use Root when you're on the go.
                </p>
            </div>
            <div class="carousel-item teal white-text">
                <h2>Take cars off the road by riding together</h2>
                <p class="white-text">Meet new people, have more energy every day, and make the most of your time while
                    reducing your carbon footprint.
                </p>
            </div>
        </section>
    </main>

</body>

</html>