{% extends 'base.html' %}

{% block content %}

<h2>Your driving schedule </h2>
<h3>
    <a class="btn waves-effect" href="{% url 'route_add' %}">Add a new route</a>
    </h3>
{% if routes.count %}
{% for route in routes %}
<br>
    <div class="card">
        <div class="card-content center-align">
            <span class="card-title">{{ route.name }}</span>
            <p> <i class="material-icons">
                    home
                </i>{{ route.departureLocation }} <i class="material-icons">
                    arrow_forward_ios
                </i> <i class="material-icons">
                    work
                </i> {{ route.arrivalLocation }}</p>
            <p>Leaving at {{ route.departureTime }}.</p>
            <br>
            <a href="{% url 'route_delete' route.id %}">Delete</a>
    </div>
</a>
{% endfor %}
{% else %}

{% endif %}


{% endblock %}