{% extends 'base.html' %}

{% block content %}

<h1>Index to ROOT!</h1>


<!-- Don't delete!! bouncing car animation from static js file (this can be moved anywhere in the body of the html file) -->
<!-- <div class="animation">
        <br>
        <svg class="car" width="102" height="50">
            <g transform="translate(2 1)" stroke="white" fill="none" stroke-linejoin="round">
                <path class="car_body"
                    d="M47.293 2.375C52.927.792 54.017.805 54.017.805c2.613-.445 6.838-.337 9.42.237l8.381 1.863c2.59.576 6.164 2.606 7.98 4.531l6.348 6.732 6.245 1.877c3.098.508 5.609 3.431 5.609 6.507v4.206c0 .29-2.536 4.189-5.687 4.189H36.808c-2.655 0-4.34-2.1-3.688-4.67 0 0 3.71-19.944 14.173-23.902zM36.5 15.5h54.01"
                    stroke-width="5" />
                <ellipse stroke-width="4.2" fill="var(--green)" cx="83.493" cy="30.25"
                    rx="6.922" ry="6.808" />
                <ellipse stroke-width="4.2" fill="var(--green)" cx="46.511" cy="30.25"
                    rx="6.922" ry="6.808" />
                <path class="car_line car_line_top" d="M22.5 16.5H2.475" stroke-width="4" />
                <path class="car_line" d="M20.5 23.5H.4755" stroke-width="4" />
            </g>
        </svg>
        <h2>ROOT is finding you the perfect ride.</h2>
    </div> -->
<!-- end bouncing car animation -->

{% if routes.count %}
{% for route in routes %}
<a href="">
    <div class="card">
        <div class="card-content center-align">
            <span class="card-title">{{ route.name }}</span>
            <p> <i class="material-icons">
                    home
                </i>{{ route.departureLocation }} <i class="material-icons">
                    arrow_forward_ios
                </i> <i class="material-icons">
                    work
                </i> {{ route.arrivalLocation }}</p>
            <p>Leaving at {{ route.departureTime }}.</p>
            <br>
            <a class="waves-effect waves-light btn" href="">Reschedule</a>
        </div>
    </div>
</a>
{% endfor %}
{% else %}
<h5>No routes added yet. Add one here...</h5>
{% endif %}

</body>




{% endblock %}