{% extends 'base.html' %}

{% block content %}

<div class="card">
  <div class="card-header teal lighten-2">
    <h2 >{{ route.name }} at {{ route.departureTime }}</h2>
  </div>
  <div class="card-content-bg">
    <div class="card-content">
      <div class="row">
        <div class="col s5 m5 l5 center-align">
          <p class="ultra-small">Pickup</p>
          <h4>{{ route.departureLocation }}</h4>
        </div>
        <div class="col s2 m2 l2 center-align">
          <p><br> <i style="font-size: 50px" class="material-icons">
              arrow_forward_ios
            </i>
          </p>
        </div>
        <div class="col s5 m5 l5 center-align">
          <p class="ultra-small">Dropoff</p>
          <h4>{{ route.arrivalLocation }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row center-align">
      <img width="150px" alt="Map" class=""
      src="https://bit.ly/fcc-running-cats">
  </div>
  <h5 class="center-align">Look for <span style="color: {{ route.car.color }}">{{ route.car.color }}</span>
    {{ route.car.make }}
    {{ route.car.model }}.</h5>
  <div>
    <div class="card-action center-align">
      <form action="{% url 'route_unassoc' route.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="waves-effect waves-light btn">Replace this route</button>
      </form>
    </div>
  </div>
</div>

<a href="{% url 'riders_index' %}">Back to your rides</a>
 

{% endblock %}