{% extends 'base.html' %}

{% block content %}

<h1>Find a Ride</h1>



<form action="{% url 'route_query' %}" method="GET">
    <label for="arrival">Desired Depature Time:</label>
    <input type="text" name="arrival" id="arrival" class="timepicker" required>
    <label for="departure">Departing From: </label>
    <select id="select1" name="departure" id="departure">
        {% for location in locations %}
        <option value="{{ location.id }}">{{ location.name }}</option>
        {% endfor %}
    </select>
    <label> </label>
    <label for="destination">Going To: </label>
    <select id="select2" name="destination" id="destination">
        {% for location in locations %}
        <option value="{{ location.id }}">{{ location.name }}</option>
        {% endfor %}
    </select>

    <button class="btn waves-effect" type="submit">Add trip<i class="material-icons right">send</i></button>
</form>


<script>
    ///Materialize Timepicker
    var el = document.querySelector('.timepicker');
    M.Timepicker.init(el, { twelveHour: false });


    
    ///Materalize dropdown options
    $(document).ready(function () {
        $('select').material_select();
    });

    ///Disable dropdown from having the same options selected
    function preventDupes(select, index) {
        var options = select.options,
            len = options.length;
        while (len--) {
            options[len].disabled = false;
        }
        select.options[index].disabled = true;
        $('select').material_select();
    }

    var select1 = document.getElementById('select1');
    var select2 = document.getElementById('select2');

    select1.onchange = function () {
        preventDupes.call(this, select2, this.selectedIndex);
    };

    select2.onchange = function () {
        preventDupes.call(this, select1, this.selectedIndex);
    };
</script>


{% endblock  %}