{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROOT</title>
    <link href="{% static 'assets/favicon.ico' %}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7CSource+Sans+Pro&display=swap"
        rel="stylesheet">
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Internal main stylesheet -->
    <!-- <link href="{% static 'css/style.css' %}" rel="stylesheet"> -->
    <link href="{% sass_src 'css/mystyle.scss' %}" rel="stylesheet" type="text/css">
    <!-- Latest jQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Internal main JavaScript functions -->
    <script src="{% static 'js/main.js' %}"></script>
</head>

<body id="login-page">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper"> <a class="brand-logo center"> <img alt="ROOT" src="{% static 'assets/logo.png' %}"
                        width="100"></a>
                <ul class="left hide-on-med-and-down">
                    <li class="active"><a href="/">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a a class="dropdown-button" data-beloworigin="true" data-hover="true"
                            data-constrainwidth="false" href="/riders">Your Commute</a></li>
                    <li><a href="{% url 'logout' %}">Sign Out</a></li>
                    {% else %}
                    <li><a href="#">About Us</a></li>
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <main class="container">
        <div class="page">
            <div class="page-content">
                <div class="block">
                    <div class="login-card z-depth-3">
                        <h4 class="flow-text center-align">Welcome back to the ROOT App. </h4>
                        <!-- Form -->
                        <div class="list no-hairlines-md bg-white form-login">
                            <ul>
                                <li class="item-content item-input">
                                    <form action="{% url 'login' %}" method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <input type="hidden" name="next" value="{{ next }}">
                                </li>
                            </ul>
                            <p class="row">
                                <button class="waves-effect waves-light btn-large">Login</button>
                            </p>
                            </form>
                        </div>
                        <!-- / Form -->
                    </div>
                    <h4 class="sign-up login-card z-depth-3" id="signup">Don't have an account? <a
                            href="{% url 'signup' %}">Sign up.</a></h4>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2019 ROOT &nbsp;</div>
    </footer>
</body>

</html>