{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ROOT</title>
    <link href="{% static 'assets/favicon.ico' %}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300%7CSource+Sans+Pro&display=swap"
        rel="stylesheet">
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Internal main stylesheet -->
    <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">
    <link href="{% sass_src 'css/mystyle.scss' %}" rel="stylesheet" type="text/css">
    <!-- Recent jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Internal main JavaScript functions -->
    <script src="{% static 'js/main.js' %}"></script>
</head>

<body id="login-page">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper"> <a class="brand-logo center"> <img alt="ROOT" src="{% static 'assets/logo.png' %}"
                        width="100"></a>
                <ul class="left hide-on-med-and-down">
                    <li class="active"><a href="/">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a a class="dropdown-button" data-beloworigin="true" data-hover="true"
                            data-constrainwidth="false" href="{% url 'riders_index' %}">Your Commute</a></li>
                    <li><a href="{% url 'logout' %}">Sign Out</a></li>
                    {% else %}
                    <li><a href="/#about">About Us</a></li>
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <main class="container">
        <div class="page">
            <div class="page-content">
                <div class="block">
                    <div class="login-card z-depth-3">
                        <h4 class="flow-text center-align">Create your profile</h4>
                        <p class="ultra-small">Tap into your local ROOT community to find coworkers going your way. Add
                            your profile picture and employer.</p>
                        {% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}
                        <!-- Form to add profile picture -->
                        {% if user.profile.photo_set.all %}
                        <!-- If the user has a profile picture added, show the most recent -->
                        <form action="{% url 'add_photo' user.profile %}" enctype="multipart/form-data" method="POST"
                            class="card-panel">
                            <div class="row">
                                <div class="col s6 m6 l6 valign center-align">
                                    <p class="row"> </p>
                                    <img height="50px" width="100px"
                                        class="padding-2 responsive-img center-align" alt="Profile"
                                        src="{{ user.profile.photo_set.last.url }}">
                                </div>
                                <div class="col s6 m6 l6">
                                    <p class="row">
                                        {% csrf_token %}
                                        <input type="file" name="photo-file">
                                        <br><br>
                                        <button class="waves-effect waves-light btn" type="submit">Change Photo
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </form>
                        <!-- If the user has no profile pictures, allow them to add one -->
                        {% else %}
                        <form action="{% url 'add_photo' user.profile %}" enctype="multipart/form-data" method="POST"
                            class="card-panel">
                            {% csrf_token %}
                            <input type="file" name="photo-file">
                            <br><br>
                            <p class="row">
                                <button class="waves-effect waves-light btn" type="submit">Add a photo </button>
                            </p>
                        </form>
                        {% endif %}
                        <!-- End form -->
                        <!-- Form to update profile employer -->
                        <form action="{% url 'profile_create' user.username %}" method="post" class="card-panel">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <p class="row">
                                <button class="waves-effect waves-light btn-large">Get your ride on</button>
                            </p>
                        </form>
                        <!-- End form -->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="center">All Rights Reserved, &copy; 2019 ROOT &nbsp;</div>
    </footer>
</body>

</html>